<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="GPA, 12-point, 9-point, gpa conversion">
    <meta name="description" content="Calculate your canadian GPA, percentage, 12-point system grade, and 9 point system grade. Supports GPA conversion for over 50 Candian universities, including University of Waterloo, University of York, University of Toronto (UFT) and more.">
    <title>WhatsMyGPA.ca - Canadian Universities and College GPA Calculator</title>
    <link rel="icon" href="assets/favicon.ico" type="image/x-icon">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,900|Source+Sans+Pro:400,700' rel='stylesheet' type='text/css'>
  </head>
  <body ng-app='WhatsMyGPA.ca'>
    <header class="header">
      <a href="/" class="logo">WhatsMy<span class="bold">GPA</span>.ca</a>
      <h2>Supports Every Canadian University and College</h2>
    </header>
    <noscript>Please Enable Javascript Before Continuing</noscript>
    
    <section id="main-content">
      <form ng-controller="InputController" class="grade-input-form">

        <h3>1. Select your university or college</h3>

        <ui-select theme="bootstrap" ng-model="university.selected" title="Select your university or college">
          <ui-select-match placeholder="Select your college or university">{{$select.selected.value.name}}</ui-select-match>
          <ui-select-choices repeat="(key, value) in UniversityList | filter: {'key':$select.search}">
            <div ng-bind-html="value.value.name | highlight: $select.search"></div>
            <p class="university-location">{{value.value.location.city}}, {{value.value.location.state}}, {{value.value.location.country}}</p>
          </ui-select-choices>
        </ui-select>

        <h3>2. What type of grades are you inputting?</h3>
         <div class="grade-input-type radio" ng-repeat="(key, value) in university.selected.value.gradeConversions">
           <input type="radio" name="grade-input-type" value="{{key}}" ng-model="$parent.university.selectedGradeInput"> {{value.name}}
         </div>
         
        <h3>3. Enter your grades and their credit weight</h3>
        <div class="semester" ng-repeat="semester in ReportCard.semesters">
          <div class="grade" ng-repeat="grade in semester">
                <input ng-model="grade.value" type="text" class="grade-input">
                <div class="credit-weight-input">
                  <input list="credit-weights" ng-model="grade.creditWeight"  >
                  <datalist id="credit-weights">
                    <option  ng-repeat="creditWeight in university.selected.value.commonCreditWeights">{{creditWeight}}</option>
                  </datalist>
                </div>
          </div>
        </div>

        <a class="button" ng-click="Calculate()">Calculate</a>
        <a class="button" ng-click="ReportCard.addSemester();">Add Grades</a>
      </form>
    </section>

    <section id="grade-output-results">
      <p>{{results}}</p>
    </section>
      
    <footer>
      
    </footer>
    <link rel="stylesheet" href="style/dist/dist.css">
    <script src="scripts/dist/main.js"></script>
    <script>
    $('input[list]').datalist(); //for datalist support on browsers that dont support it
    </script>
  </body>
</html>