/*Open-sans fonts*/
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/k3k702ZOKiLJc3WVjuplzHhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
body{
	text-align: center;
	background-image:url(background.png);
	background-repeat: repeat;
}
#header {
	height: 5em;
	text-align: center;
	margin: -0.6em -0.6em 1em -0.6em;
	line-height: 100%;
	background-color: #8BC34A;
}
#header h1{
	font-family: Open Sans, Arial;
	font-weight: bold;
	display: inline-block;
	font-size: 3em;
	color: white;
}
#header h2{
	font-family: Open Sans, Arial;
	font-weight: normal;
	display: inline-block;
	margin-left: 1em;
	color: #37474F;
}
#javascript-warning{
	display: inline-block;
	font-family: Open Sans, Arial;
	font-weight: bold;
	font-color: white;
	border-radius: .5em;
	padding: 0.5em;
	font-size: 2em;
	color: white;
	background-color: #ef9a9a;
	border: 3px solid #b71c1c;
	margin-bottom: 1em;
}
#input-form{
	width:auto;
	display: inline-block;
	margin: auto;
	text-align: center;
	padding: 2em;
	background-color: #FAFAFA;
	border-radius: 1em;
}
#input-form h3{
	font-family: Open Sans, Arial;
	font-size: 2em;
	font-color: grey;
	font-weight: normal;
	clear: both;
}
#university{
	height: 2em;
	padding-left: 0.5em;
	font-size: 1.5em;
	font-family: Open Sans, Arial;
	border-radius: 0.5em;
	border: 1px solid grey;
}
#university:focus{
    outline: 0;
    box-shadow: 0px 0px 1px 2px #8BC34A;

}
.radio{
	font-family: Open Sans, Arial;
	font-weight: normal;
	font-size: 1.5em;
	clear: both;
	margin-top: 0.5em;
}
input[type='radio'] {
    transform: scale(1.5);
}
.semester-input{
	display: inline-block;
	width: 10em;
}
.semester-input h4{
	font-family: Open Sans, Arial;
	font-weight: normal;
	float: left;
	display: inline-block;
	margin-top: 0em;
	margin-bottom: 0em;
	font-size: 1.25em;
}
.semester-input h4:nth-child(1){
	float: left;
}
.semester-input h4:nth-child(2){
	float: right;
	margin-right: 0.5em;
}
.semester-input input{
	font-family: Open Sans, Arial;
	font-weight: normal;
	margin-top: 0.5em;
	font-size: 1.25em;
	width: 3em;
	height: 1.5em;
	text-align: center;
	border-radius: 0.5em;
	border: 1px solid grey;
	margin-right: 0.25em;
}

.semester-input input:focus{
    outline: 0;
    box-shadow: 0px 0px 1px 2px #8BC34A;
}
.semester-input select{
	font-family: Open Sans, Arial;
	font-weight: normal;
	margin-top: 0.5em;
	font-size: 1.25em;
	border-radius: 0.5em;
	border: 1px solid grey;
}
.semester-input select:focus{
    outline: 0;
    box-shadow: 0px 0px 1px 2px #8BC34A;
}
#add-semester-button{
	width: 2em;
	height: 2em;
	font-family: Open Sans, Arial;
	font-weight: bold;
	font-size: 3em;
	border-radius: 100%;
	border: 1px solid #f44336;
	color: white;
	background-color: #f44336;
	float: right;
	margin-top: 2.5em;
	margin-right: 2em;
}
#add-semester-button:hover{
	background-color: #ef5350;
}
#add-semester-button:active{
	background-color: #d50000;
}
#add-semester-button:focus{
    outline: 0;
    box-shadow: 0px 0px 1px 2px #d50000;
}
#submit-button{
	margin-top: 1em;
	font-family: Open Sans, Arial;
	font-weight: bold;
	color: white;
	font-size: 2em;
	width: 7em;
	height: 2.5em;
	border-radius: 0.5em;
	border: 1px solid #f44336;
	background-color: #f44336;
}
#submit-button:hover{
	background-color: #ef5350;
}
#submit-button:active{
	background-color: #d50000;
}
#submit-button:focus{
    outline: 0;
    box-shadow: 0px 0px 1px 2px #d50000;
}
#grade-output{
	width: auto;
	display: inline-block;
	text-align: center;
	clear: both;
	padding: 1em 5em 1em 5em;
	margin-top: 1em;
	border-radius: 1em;
	background-color: #8BC34A;
	font-family: Open Sans, Arial;
	font-size: 2em;
}
#grade-output h4{
	display: inline-block;
	margin: 0em 0em 0em 1em;
	font-family: Open Sans, Arial;
	font-weight: bold;
	color: white;
}
#grade-output p{
	display: inline-block;
	margin: 0em;
	font-family: Open Sans, Arial;
}