$header_background_color: #4CAF50;
$header_text_color: #FFFFFF;
$header_height: 60px;
$header_mobile_height: 80px;

$roboto: "Roboto", "Open Sans", Arial, sans-serif;
$sans: "Source Sans Pro","Roboto", Arial, sans-serif;