$header_background_color: #4CAF50;
$header_text_color: #FFFFFF;
$header_height: 60px;
$header_mobile_height: 80px;

$roboto: "Roboto", "Open Sans", Arial, sans-serif;
$sans: "Source Sans Pro","Roboto", Arial, sans-serif;

$footer_height: 30px;
$footer_height_negative: -30px;
$footer_height_mobile: 50px;
$footer_height_negative_mobile: -50px;