@import "config.scss";

.header{
	width: 100%;
	background-color: $header_background_color;
	color: $header_text_color;
	display: flex;
	padding: 0 12px 0 12px;
	justify-content: center;
	align-items: baseline;
	flex-wrap: wrap;
	height: $header_height;
	font-family: $roboto;
	line-height: $header_height;
	box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.75);
	.logo{
		display: inline;
		color: #FFFFFF;
		text-decoration: none;
		font-size: 36px;
		font-weight: 700;
		.bold{	
			font-weight: 900;
			color: rgb(0,86,0);
		}
		&:hover, &:active{
			text-decoration: none;
			color: inherit;
		}
	}
	h2{
		display: inline-block;
		margin-left: 12px;
	}
}

@media (max-width: 650px){
	.header{
		height: $header_mobile_height;
		flex-direction: column;
		flex-wrap: nowrap;
		align-items: center;
		line-height: inherit;
		h2{
			margin-left: 0;
			margin-top: 6px;
		}
	}
}