@media(min-width: 320px){ //when on desktop
	.semesters-wrapper{
		max-height: 300px;
		overflow: auto;
	}
}

@media(max-width: 780px){
	#main-content #grade-output-results{
		max-width: 780px;
		width:calc(100% + 24px);
		border-radius: 0;
	    position: relative;
    	left: -12px;
    	text-align: center;
	}
}

@media(max-width: 360px){
  	#main-content .grade-input-form .university-selection-input .ui-select-choices-row .ui-select-choices-row-inner p.university-location {
		font-size: 11px;
	    position: absolute;
    	right: 12px;
	}
	.modal-dialog{
		.modal-body{
		    padding: 0 12px 0 12px;
		}
	}
}